.search-results {
  height: 100%;
}
.title {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
}
.title small {
  color: #eaeaea;
}
.fixed {
  height: 300px;
  width: 200px;
  overflow: scroll;
  display: block;
  position: fixed;
  transition: width 0.3s ease-out;
}
.fixed:hover {
  width: 350px;
}
.fixed .info {
  position: fixed;
}
.first {
  top: 0;
  right: 20px;
  background-color: tomato;
}
.second {
  bottom: 0;
  right: 0px;
  background-color: lime;
}
.dummy {
  bottom: 0;
  right: 200px;
  background-color: crimson;
}
.third {
  bottom: 0;
  right: 400px;
  background-color: darkslategrey;
}

.with-error {
  top: 0;
  right: 220px;
  background-color: gray;
}
.inner {
  bottom: 0;
  right: 600px;
  background-color: goldenrod;
}

.test1 {
  height: 300px;
  overflow: auto;
  width: 500px;
}
/* .test2 .content {
  display: flex;
} */
.modal-body {
  /* max-height: 200px; */
  height: 200px;
  width: 300px;
  overflow: auto;
}
